{% extends'Front_Office/Header-Footer.html.twig' %}


{% block title %}
	List Hebergements
{% endblock %}


{% block Content %}

	<br><br>
	<div class="container">

		<div class="container-fluid pt-5 pb-3 border-bottom px-lg-5">
			<div class="row">
				<div class="col-xl-8">
					<h1>
						{{ proprietaire is null? user.getNomUtl ~ ' ' ~ user.getPrenomUtl :  proprietaire.getNomProp() ~ ' ' ~  proprietaire.getPrenomProp() }}
						's Accomadations</h1>
					<br>
					<p class="lead text-muted">Down Here you can find their Accomadations</p>
				</div>
			</div>
            			<div style="text-align:right !important;">
				<button class="btn btn-success" type="Submit">
				<i class="fa fa-list"></i> 
				<a href="{{ url('ListHebergementFront') }}" style="color:white;"> 
				List of all accomadations
				</a>
				</button>
			</div>
		</div>
    
<br><br>
    			{% for h in hebergement %}
		
				<div class="col-xl-3 col-md-4 col-sm-6 mb-5" data-marker-id="59c0c8e33b1527bfe2abaf92">
					<div class="card h-100 border-0 shadow">
						<div class="card-img-top overflow-hidden">
							<img class="img-fluid" src="{{ asset('/uploads/hebergements/'~ h.getImgHbrg()) }}" alt="Hebergement Picture"/>
							<!--	<a class="tile-link" href="{{ path('DetailHebergementFRONT',{'id':h.getId()}) }}"></a> -->
						</div>
						<div class="card-body d-flex align-items-center">
							<div class="w-100">
								<h6 class="card-title">
									<!-- <a class="text-decoration-none text-dark" href="{{ path('DetailHebergementFRONT',{'id':h.getId()}) }}"> -->
									{{ h.getNomHbrg()}}
									
								</h6>
								<div class="d-flex card-subtitle mb-3">
									<p class="flex-grow-1 mb-0 text-muted text-sm">{{h.TypeHbrg.getNomTypeHbrg() }}
										<br>
										{{ h.getAdresseHbrg() }}
									</p>
								</div>
								<p class="card-text text-muted">
									<span class="h4 text-danger">{{h.getNbrPlaceHbrg() }}
										places still Available</p>
								</p>
								<p class="card-text text-muted">
									<span class="h4 text-primary">{{h.getPrixHbrg()}}
										TND</span>
									per night</p>
							</div>
						</div>
					</div>
				<tr>

				</tr>
				{% else %}
                <br><br><br>
					<p class="mb-6">
					They Have no accommodations.
					</p>
				{% endfor %}
			</div>


    
	</div>

{% endblock %}
