{% extends 'Front_Office/Header-Footer.html.twig' %}

{% block Content %}
<?php

?>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <section class="hero-home dark-overlay mb-5"><img class="bg-image" src="{{asset ('Front-Office/img/photo/photo-1.jpg') }}" alt="">
    <div class="container py-7">
      <div class="overlay-content text-center text-white">
          <h1 class="display-3 text-serif font-weight-bold text-shadow mb-0">{{i.nom}}</h1>
                </div>
    </div>
  </section>
  <section>
    <div class="container">
    <!--compter le nombre de comment-->
          {% set count = 0 %}
          {% for j in commentairelist %}
          {% set count = count + 1 %}
          {% endfor %}
      <!-- fin count comment-->   
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div class="row">
        <div class="col-xl-8 col-lg-10 mx-auto">           
          <p class="py-3 mb-5 text-muted text-center font-weight-light"><a href="">
            <img class="avatar mr-2" src="{{asset ('Back-Office/assets/media/users/'~ i.code.avatar) }}" alt=""></a> Rediger par
             <a class="font-weight-bold" href="#">{{i.code.nom}}</a>
             <span class="mx-1">|</span>
             {{ i.createat|date("F j, Y")}}<span class="mx-1">|</span>
             <a class="text-muted" href="#"> {{ count }}  commentaires</a></p>
          <p class="lead mb-5">{{i.Description}}. </p>
          </div>
      </div>
      <div class="row">
        <div class="col-xl-10 mx-auto">
          <img class="img-fluid mb-5" src="{{asset ('Front-Office/img/photo/'~ i.Image) }}" alt="">
          <h6 style="width: 9rem;">
          <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i>Dislike</a>
          <a href="#"><i class="fa fa-thumbs-up"></i></i> like</a> </h6>


          
          <div class="second_line_header clearfix">
            <div class="vote " id="vote" data-ref="blog" data-ref_id="1">
              <div class="vote_btns">
                <button class="vote_btn vote_like"><span id="like_count">0</span></button>
                <button class="vote_btn vote_dislike"><span id="dislike_count">0</span></button>
              </div>
            </div>
              <hr>
          </div>
          <!-- comments-->          
          <div class="mt-5">
            <h6 class="text-uppercase text-muted mb-4"> {{ count }} commentaires</h6> 
            {% for j in commentairelist %}
            <!-- comment-->
              <div class="media mb-4"><img class="avatar avatar-lg mr-4"  src="{{asset ('Front-Office/img/avatar/avatar.jpg') }}"   alt="">
                <div class="media-body">
                  <h5> {{j.nom}}</h5>
                  <p class="text-uppercase text-sm text-muted"><i class="far fa-clock"></i> {{ i.createat|date("F j, Y, g:i a")}}</p>
                  <p class="text-muted">{{j.comment}}</p>
                </div>
              </div>
            <!-- /comment-->    
            {% endfor %}   
                      
          </div>
          <!-- /comments-->
          <p><a class="btn btn-link text-primary" href="#"><i class="fa fa-reply"></i> Reply</a></p>
          <!-- comment form-->
          <div class="mb-5">
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#PosterCommentaire" aria-expanded="false" aria-controls="PosterCommentaire">Poster Commentaire</button>
            <div class="collapse mt-4" id="PosterCommentaire">
              <h3 class="mb-4">Commentaire</h3>
              {{ form_start(form, {'attr': {'novalidate' : 'novalidate'}}) }}
              <div class="row">
                <div class="col-md-6">                           
                  <div class="form-group">
                    {{form_label(form.nom,'Nom') }} <span class="required">*</span>
                    {{ form_widget(form.nom,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.nom) }}
                  </div>
                </div>
                <div class="col-md-6">                                              
                  <div class="form-group">
                    {{form_label(form.mail,'Email') }} <span class="required">*</span>
                    {{ form_widget(form.mail,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.mail) }}
                  </div>
                </div>
              </div>
              <div class="form-group mb-4">
                {{form_label(form.comment,'Commentaire') }} <span class="required">*</span>
                {{ form_widget(form.comment,{ 'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.comment) }}
              </div>              
              <button class="btn btn-primary" type="submit"><i class="far fa-comment"></i> Commentaire </button>
              {{ form_end(form) }}              
            </div>         
            <!-- /comment form-->
          </div>
        </div>           
      </div>
    </div>
  </section>    
{% endblock %}

 