
    {{ form_start(form) }}
        {{ form_row(form.nbractivities) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        <div class="alert alert-danger"> {{ form_rest (form) }} </div>
    {{ form_end(form) }}

