{% extends 'base.html.twig' %}

{% block title %}EventProgram index{% endblock %}

{% block body %}
    <h1>EventProgram index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Activity</th>
                <th>Timestart</th>
                <th>Timeend</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event_program in event_programs %}
            <tr>
                <td>{{ event_program.id }}</td>
                <td>{{ event_program.activity }}</td>
                <td>{{ event_program.timestart ? event_program.timestart|date('H:i:s') : '' }}</td>
                <td>{{ event_program.timeend ? event_program.timeend|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('event_program_show', {'id': event_program.id}) }}">show</a>
                    <a href="{{ path('event_program_edit', {'id': event_program.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_program_new') }}">Create new</a>
{% endblock %}
