{% extends 'base.html.twig' %}

{% block title %}EventProgram{% endblock %}

{% block body %}
    <h1>EventProgram</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event_program.id }}</td>
            </tr>
            <tr>
                <th>Activity</th>
                <td>{{ event_program.activity }}</td>
            </tr>
            <tr>
                <th>Timestart</th>
                <td>{{ event_program.timestart ? event_program.timestart|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Timeend</th>
                <td>{{ event_program.timeend ? event_program.timeend|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('event_program_index') }}">back to list</a>

    <a href="{{ path('event_program_edit', {'id': event_program.id}) }}">edit</a>

    {{ include('event_program/_delete_form.html.twig') }}
{% endblock %}
