{% extends'Front_Office/Header-Footer.html.twig' %}

 {% block title %}
     Trips
 {% endblock %}


    {% block Content %}
        <br> <br><br><br> <br> <br>
<h2 style="text-align:center" class="subtitle text-primary">Your details</h2>
<section class="py-lg-5">
    <div class="container">
        <h1 class="h2 mb-5"> Informations       </h1>
        <a href="{{ path('reservation_list') }}" class="btn btn-primary font-weight-bolder">
						<span class="svg-icon svg-icon-md">
							<!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<rect x="0" y="0" width="24" height="24" />
										<circle fill="#000000" cx="9" cy="15" r="6" />
											<path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
								</g>
							</svg>
                            <!--end::Svg Icon-->
						</span>Print</a>
        <br> <br> <br>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>FLYING FROM</th>
                <td>{{ reservation.FLYINGFROM }}</td>
            </tr>
            <tr>
                <th>FLYING TO</th>
                <td>{{ reservation.FLYINGTO }}</td>
            </tr>
            <tr>
                <th>DEPARTING</th>
                <td>{{ reservation.DEPARTING ? reservation.DEPARTING|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Return</th>
                <td>{{ reservation.Retour ? reservation.Retour|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Adults</th>
                <td>{{ reservation.adults }}</td>
            </tr>
            <tr>
                <th>Children</th>
                <td>{{ reservation.children }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ reservation.phone }}</td>
            </tr>
            <tr>
                <th>Travel Class</th>
                <td>{{ reservation.travelClass }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservation_index') }}">back to list</a>

    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
    </div>
</section>

        <br><br><br><br><br>
{% endblock %}
