{% extends'Back_Office/AdminMain.html.twig' %}

{% block Entry %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   
 <div class="container">
    <table id="influenceurs" class="table table-striped"> 
       <thead> 
       <tr><td>   {% block title %} 
             <h3><p style="color:blue;"  class="text-center"> Ajouter Influenceur </p></h3>
          {% endblock %}</td> </tr>
       </thead>
       <tbody>
            <tr><td>  {{ form_start(form, {'attr': {'novalidate' : 'novalidate'}}) }}</td> </tr>
           <tr><td>  
                <div class="form-group">
                {{form_label(form.code,'Le code influenceur') }}</div>
                {{ form_widget(form.code,{ 'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.code) }}
                </div>  
             </td> </tr>
             <tr><td>   
                <div class="form-group">
                {{form_label(form.nom,'Le nom influenceur') }}</div>
                {{ form_widget(form.nom,{ 'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.nom) }}
                </div> 
              </td> </tr>
              <tr><td>  
                    <div class="form-group">
                    {{form_label(form.facebookPage,'Page facebook') }}</div>
                    {{ form_widget(form.facebookPage,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.facebookPage) }}
                    </div> 
              </td> </tr>
               <tr><td>  
                    <div class="form-group">
                    {{form_label(form.instagramPage,'Page instagram') }}</div>
                    {{ form_widget(form.instagramPage,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.instagramPage) }}
                    </div> 
              </td> </tr>
              <tr><td>  
                    <div class="form-group">
                    {{form_label(form.email,'Adresse mail') }}</div>
                    {{ form_widget(form.email,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.email) }}
                    </div> 
              </td> </tr>
          <tr><td>  
                    <div class="form-group">
                    {{form_label(form.avatar,'Avatar') }}</div>
                    {{ form_widget(form.avatar,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.avatar) }}
                    </div> 
              </td> </tr>
            <tr><td>    <button type="submit" class="btn btn-success"  onclick="return confirm('Etes-vous sûr de vouloir Créer cette influenceur?')" ><i class="fa fa-user-plus fa-lg"> </i> Créer</button></td> </tr>
            <tr><td> {{ form_end(form) }}</td>  </tr>
        </tbody>
    </table>
    </div>
{% endblock %}

 