 {% extends'Back_Office/AdminMain.html.twig' %}

 {% block title %}
    Edit Hbrg
{% endblock %}

{% block menu %}
	Edit Hebergement						
{% endblock %}


{% block Entry %}
<div class="container">

<div class="card card-custom">
 <!--begin::Form-->
 {{ form_start (formHebergement, {'attr' : {'novalidate' : 'novaliate '}}) }}
  <form>
   <div class="card-body">
    <div class="form-group mb-8">
     <div class="alert alert-custom alert-default" role="alert">
      <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
      <div class="alert-text">
       Fill the inputs with the accommodation details.
      </div>
     </div>
    </div>
    <div class="form-group">
     <label>{{ form_label(formHebergement.nom_hbrg,"nom Hebergement : ") }}<span class="text-danger">*</span></label>
     {{ form_widget(formHebergement.nom_hbrg , {'attr' : {'class' : 'form-control','placeholder' : 'Enter nom hebergement','type':'text'}}) }}
     <span class="form-text text-muted">nom hebergement.</span>
    </div>

       <div class="form-group">
     <label>{{ form_label(formHebergement.adresse_hbrg,"adresse Hebergement : ") }}<span class="text-danger">*</span></label>
     {{ form_widget(formHebergement.adresse_hbrg , {'attr' : {'class' : 'form-control','placeholder' : 'Enter Adresse Hebergement','type':'text'}}) }}
     <span class="form-text text-muted">Adresse Hebergement.</span>
    </div>

          <div class="form-group">
     <label>{{ form_label(formHebergement.nbr_place_hbrg,"Nombre place Disponible d'Hebergement : ") }}<span class="text-danger">*</span></label>
     {{ form_widget(formHebergement.nbr_place_hbrg , {'attr' : {'class' : 'form-control','placeholder' : 'Nombre de place Disponible Hebergement','type':'number'}}) }}
     <span class="form-text text-muted">Nbr de place.</span>
    </div>

              <div class="form-group">
     <label>{{ form_label(formHebergement.prix_hbrg,"prix d'hebergement : ") }}<span class="text-danger">*</span></label>
     {{ form_widget(formHebergement.prix_hbrg , {'attr' : {'class' : 'form-control','placeholder' : 'Enter Prix','type':'number'}}) }}
     <span class="form-text text-muted">prix d'hebergement.</span>
    </div>



    <div class="form-group">
     <label>{{ form_label(formHebergement.date_hbrg,"date Hebergement : ")}} <span class="text-danger">*</span></label>
     {{ form_widget(formHebergement.date_hbrg , {'attr' : {'type' : 'date' , 'id' : 'kt_datepicker_1_modal' }}) }}
    </div>


   <div class="form-group row">
     <label>Type Hebergement :  <span class="text-danger">*</span></label>
     <div class=" col-lg-4 col-md-9 col-sm-12">
        {{ form_widget(formHebergement.type_hbrg) }}
     </div>
    </div>



   <div class="form-group row">
     <label>Proprietaire</label>
     <div class=" col-lg-4 col-md-9 col-sm-12">
        {{ form_widget(formHebergement.Proprietaire) }}

     </div>
    </div>






  <div class="form-group">
     <label>{{ form_label(formHebergement.img_hbrg,"Image Principale : ") }}</label>
     <div></div>
     <div class="custom-file">
        {{ form_widget(formHebergement.img_hbrg, {'attr' : {'class' : 'custom-file-input','type':'file'}}) }}
      <label class="custom-file-label" for="customFile">Choose file</label>
     </div>
    </div>

   <div class="form-group">
     <label>{{ form_label(formHebergement.images_hebergement,"Images Hebergement : ") }}</label>
     <div></div>
      <div class="custom-file">
         {{ form_widget(formHebergement.images_hebergement, {'attr' : {'class' : 'custom-file-input','type':'file'}}) }}
         <label class="custom-file-label" for="customFile">Choose files</label>
      </div>
    </div>

   {% if not formHebergement.vars.valid %}
     <div class="alert alert-custom alert-light-danger fade show mb-5" role="alert" hide="true">
       <div class="alert-icon"><i class="flaticon-warning"></i>
       </div>
       <div class="alert-text" >
          {{ form_errors (formHebergement.nom_hbrg) }}
          {{ form_errors (formHebergement.adresse_hbrg) }}
          {{ form_errors (formHebergement.date_hbrg) }}
          {{ form_errors (formHebergement.nbr_place_hbrg) }}
          {{ form_errors (formHebergement.prix_hbrg) }}
          {{ form_errors (formHebergement.type_hbrg) }}
          {{ form_errors (formHebergement.img_hbrg) }}
       </div>
     <div class="alert-close">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true"><i class="ki ki-close"></i></span>
         </button>
     </div>
 </div>
{% endif %}

   <div class="card-footer">
    <button type="Submit" class="btn btn-primary mr-2">Submit</button>
    <button type="reset" class="btn btn-secondary">Cancel</button>
   </div>
  </form>
 {{ form_end (formHebergement) }}
 <!--end::Form-->
</div>

</div>




<script>
// Class definition

var KTBootstrapDatepicker = function () {

 var arrows;
 if (KTUtil.isRTL()) {
  arrows = {
   leftArrow: '<i class="la la-angle-right"></i>',
   rightArrow: '<i class="la la-angle-left"></i>'
  }
 } else {
  arrows = {
   leftArrow: '<i class="la la-angle-left"></i>',
   rightArrow: '<i class="la la-angle-right"></i>'
  }
 }

 // Private functions
 var demos = function () {
  // minimum setup
  $('#kt_datepicker_1').datepicker({
   rtl: KTUtil.isRTL(),
   todayHighlight: true,
   orientation: "bottom left",
   templates: arrows
  });

  // minimum setup for modal demo
  $('#kt_datepicker_1_modal').datepicker({
   rtl: KTUtil.isRTL(),
   todayHighlight: true,
   orientation: "bottom left",
   templates: arrows
  });

  // input group layout
  $('#kt_datepicker_2').datepicker({
   rtl: KTUtil.isRTL(),
   todayHighlight: true,
   orientation: "bottom left",
   templates: arrows
  });

  // input group layout for modal demo
  $('#kt_datepicker_2_modal').datepicker({
   rtl: KTUtil.isRTL(),
   todayHighlight: true,
   orientation: "bottom left",
   templates: arrows
  });

  // enable clear button
  $('#kt_datepicker_3, #kt_datepicker_3_validate').datepicker({
   rtl: KTUtil.isRTL(),
   todayBtn: "linked",
   clearBtn: true,
   todayHighlight: true,
   templates: arrows
  });

  // enable clear button for modal demo
  $('#kt_datepicker_3_modal').datepicker({
   rtl: KTUtil.isRTL(),
   todayBtn: "linked",
   clearBtn: true,
   todayHighlight: true,
   templates: arrows
  });

  // orientation
  $('#kt_datepicker_4_1').datepicker({
   rtl: KTUtil.isRTL(),
   orientation: "top left",
   todayHighlight: true,
   templates: arrows
  });

  $('#kt_datepicker_4_2').datepicker({
   rtl: KTUtil.isRTL(),
   orientation: "top right",
   todayHighlight: true,
   templates: arrows
  });

  $('#kt_datepicker_4_3').datepicker({
   rtl: KTUtil.isRTL(),
   orientation: "bottom left",
   todayHighlight: true,
   templates: arrows
  });

  $('#kt_datepicker_4_4').datepicker({
   rtl: KTUtil.isRTL(),
   orientation: "bottom right",
   todayHighlight: true,
   templates: arrows
  });

  // range picker
  $('#kt_datepicker_5').datepicker({
   rtl: KTUtil.isRTL(),
   todayHighlight: true,
   templates: arrows
  });

   // inline picker
  $('#kt_datepicker_6').datepicker({
   rtl: KTUtil.isRTL(),
   todayHighlight: true,
   templates: arrows
  });
 }

 return {
  // public functions
  init: function() {
   demos();
  }
 };
}();

jQuery(document).ready(function() {
 KTBootstrapDatepicker.init();
});
</script>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
