{% extends 'Back_Office/template.html.twig' %}
{% block Entry %}
<div class="container">

    <table id="blogs" class="table table-striped"> 
       <thead> 
           <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
       <tr><td>   {% block title %} 
             <h3><p style="color:blue;"  class="text-center"> Recherche Blog </p></h3>
          {% endblock %}</td> </tr>
       </thead>
       <tbody>
            <tr><td>  {{ form_start(form, {'attr': {'novalidate' : 'novalidate'}}) }}</td> </tr>
           <tr><td>  
                <div class="form-group">
                {{form_label(form.nom,'Le nom blogs') }}</div>
                {{ form_widget(form.nom,{ 'attr':{'class':'form-control'}}) }}
              
                </div>  
             </td> </tr>
             <tr><td>   
                <div class="form-group">
                {{form_label(form.description,'description blog') }}</div>
                {{ form_widget(form.description,{ 'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.description) }}
                </div> 
              </td> </tr>
              <tr><td>  
                    <div class="form-group">
                    {{form_label(form.type,' type') }}</div>
                    {{ form_widget(form.type,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.type) }}
                    </div> 
              </td> </tr>
               <tr><td>  
                    <div class="form-group">
                    {{form_label(form.id,' identifiant blog') }}</div>
                    {{ form_widget(form.id,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.id) }}
                    </div> 
              </td> </tr>

           <tr><td>  <button type="submit" class="btn btn-success"><span class="fa fa-search"></span> Chercher</button></td> </tr>
           <tr><td> {{ form_end(form) }}</td>  </tr>
        </tbody>
    
   {% if blogs %}
       <table id="blogs" class="table table-striped">
            <thead>
            <tr>
               <th>Id</th>
               <th>Nom</th>
               <th>Date</th>
               <th>Description</th>
               <th>type</th>
                <th>Actions</th>
           </tr>
            </thead>
            <tbody>
            {% for i in blogs %}
                <tr>
                     <td>{{ i.id }}</td>
                    <td>{{ i.nom }}</td>
                   <td>{{ i.createat|date("d-m-Y")}}</td>
                     <td>{{ i.description }}</td>
                    <td>{{ i.type }}</td>
                    <td>
                       <a href="/back-office/blog/bdetaille/{{ i.id }}" class="btn btn-info" ><i class="fa fa-eye fa-lg"> </i> Editer</a>
                         <a href="/back-office/blog/supprimer/{{ i.id }}" class="btn btn-danger"
                          onclick="return confirm('Etes-vous sûr de supprimer cet Blog?');"><i class="fa fa-trash-o fa-lg"></i> Supprimer</a>
                         </td>
                </tr>
            {% endfor %}
           
            </tbody>
         </table>

      {% endif %}
    </table>
{% endblock %}
