 {% extends'Front_Office/Header-Footer.html.twig' %}

 {% block title %}
Home 
{% endblock %}


{% block Content %}
<br> <br><br><br>


   <!-- Slider main container-->
    <div class="swiper-container home-slider multi-slider">
      <!-- Additional required wrapper-->
      <div class="swiper-wrapper">
        <!-- Slides-->
        <div class="swiper-slide bg-cover dark-overlay" style="background-image: url('front-office/img/photo/photo-1493976040374-85c8e12f0c0e.jpg');">
          <div class="container h-100">
            <div class="d-flex h-100 text-white overlay-content align-items-center" data-swiper-parallax="-500">
              <div class="w-100">
                <div class="row">
                  <div class="col-lg-6">
                    <p class="subtitle text-white letter-spacing-3 mb-3 font-weight-light">Blue &amp; White</p>
                    <h2 class="display-3 font-weight-bold mb-3" style="line-height: 1">Japan</h2>
                    <p class="mb-5">His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table.</p><a class="btn btn-outline-light d-none d-sm-inline-block" href="#">Start exploring Japan <i class="fa fa-angle-right ml-2"></i></a>
                  </div>
                  <div class="col-lg-6 pl-lg-5 my-3 my-md-5 my-lg-0"><a class="media text-reset text-decoration-none hover-animate mb-2 mb-md-5" href="#">
                      <div class="icon-rounded bg-white opacity-7 mr-4">
                        <svg class="svg-icon text-dark w-2rem h-2rem">
                          <use xlink:href="#paper-plane-1"> </use>
                        </svg>
                      </div>
                      <div class="media-body">
                        <h5>Discover events</h5>
                        <div class="media-body">Tap to see more !</div>
                      </div></a><a class="media text-reset text-decoration-none hover-animate mb-2 mb-md-5" href="#">
                      <div class="icon-rounded bg-white opacity-7 mr-4">
                        <svg class="svg-icon text-dark w-2rem h-2rem">
                          <use xlink:href="#schedule-window-1"> </use>
                        </svg>
                      </div>
                      <div class="media-body">
                        <h5>Create events</h5>
                        <div class="media-body">You don't have to be an expert to bring people together and share common passions ;) </div>
                      </div></a><a class="media text-reset text-decoration-none hover-animate" href="#">
                      <div class="icon-rounded bg-white opacity-7 mr-4">
                        <svg class="svg-icon text-dark w-2rem h-2rem">
                          <use xlink:href="#image-gallery-1"> </use>
                        </svg>
                      </div>
                      <div class="media-body">
                        <h5>Guide &amp; gallery</h5>
                        <p>Curious ? Click to see more </p>
                      </div></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide bg-cover dark-overlay" style="background-image: url('front-office/img/photo/photo-1558114965-eeb97aa84c3b.jpg');">
          <div class="container h-100">
            <div class="d-flex h-100 text-white overlay-content align-items-center" data-swiper-parallax="-500">
              <div class="w-100">
                <div class="row">
                  <div class="col-12">
                    <h2 class="display-3 font-weight-bold mb-5" style="line-height: 1">Morocco</h2>
                    <p class="mb-5">Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before.</p>
                  </div>
                </div><a class="d-md-none btn btn-outline-light" href="#">Start exploring</a>
                <div class="row">
                  <!-- place item-->
                  <div class="d-none d-md-block col-md-4 mb-5" data-marker-id="">
                    <div class="card h-100 border-0 shadow-lg bg-dark hover-animate">
                      <div class="card-img-top overflow-hidden gradient-overlay"> <img class="img-fluid" src="{{ asset('front-office/img/photo/fez.jpg')}}" alt="Fez"/><a class="tile-link" href="detail-rooms.html"></a>
                        <div class="card-img-overlay-top text-right"><a class="card-fav-icon position-relative z-index-40" href="javascript: void();"> 
                            <svg class="svg-icon text-white">
                              <use xlink:href="#heart-1"> </use>
                            </svg></a></div>
                      </div>
                      <div class="card-body d-flex align-items-center">
                        <div class="w-100">
                          <h6 class="card-title"><a class="text-decoration-none text-white" href="detail-rooms.html">Fez</a></h6>
                          <div class="d-flex card-subtitle">
                            <p class="flex-grow-1 mb-0 text-muted text-sm">Central Morocco</p>
                            <p class="flex-shrink-1 mb-0 card-stars text-xs text-right"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- place item-->
                  <div class="d-none d-md-block col-md-4 mb-5" data-marker-id="">
                    <div class="card h-100 border-0 shadow-lg bg-dark hover-animate">
                      <div class="card-img-top overflow-hidden gradient-overlay"> <img class="img-fluid" src="{{ asset('front-office/img/photo/marrakech.jpg')}}"  alt="Marrakech"/><a class="tile-link" href="detail-rooms.html"></a>
                        <div class="card-img-overlay-top text-right"><a class="card-fav-icon position-relative z-index-40" href="javascript: void();"> 
                            <svg class="svg-icon text-white">
                              <use xlink:href="#heart-1"> </use>
                            </svg></a></div>
                      </div>
                      <div class="card-body d-flex align-items-center">
                        <div class="w-100">
                          <h6 class="card-title"><a class="text-decoration-none text-white" href="detail-rooms.html">Marrakech</a></h6>
                          <div class="d-flex card-subtitle">
                            <p class="flex-grow-1 mb-0 text-muted text-sm">Central Morocco</p>
                            <p class="flex-shrink-1 mb-0 card-stars text-xs text-right"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-gray-300">                                  </i>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- place item-->
                  <div class="d-none d-md-block col-md-4 mb-5" data-marker-id="">
                    <div class="card h-100 border-0 shadow-lg bg-dark hover-animate">
                      <div class="card-img-top overflow-hidden gradient-overlay"> <img class="img-fluid" src=" {{asset('front-office/img/photo/essaouira.jpg') }}" alt="Essaouira"/><a class="tile-link" href="detail-rooms.html"></a>
                        <div class="card-img-overlay-top text-right"><a class="card-fav-icon position-relative z-index-40" href="javascript: void();"> 
                            <svg class="svg-icon text-white">
                              <use xlink:href="#heart-1"> </use>
                            </svg></a></div>
                      </div>
                      <div class="card-body d-flex align-items-center">
                        <div class="w-100">
                          <h6 class="card-title"><a class="text-decoration-none text-white" href="detail-rooms.html">Essaouira</a></h6>
                          <div class="d-flex card-subtitle">
                            <p class="flex-grow-1 mb-0 text-muted text-sm">Coast</p>
                            <p class="flex-shrink-1 mb-0 card-stars text-xs text-right"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide bg-cover dark-overlay bg-cover-right" style="background-image: url('front-office/img/photo/photo-1526392060635-9d6019884377.jpg');">
          <div class="container h-100">
            <div class="d-flex h-100 text-white overlay-content align-items-center" data-swiper-parallax="-500">
              <div class="w-100">
                <div class="row">
                  <div class="col-lg-6">
                    <p class="subtitle text-white letter-spacing-3 mb-3 font-weight-light">Discover South America</p>
                    <h2 class="display-3 font-weight-bold mb-3" style="line-height: 1">Peru</h2>
                    <p class="mb-5">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pit</p>
                  </div>
                </div>
                <div class="row mt-3 mt-md-5">
                  <div class="col-md-4 mb-2 mb-md-0"><a class="media text-reset text-decoration-none hover-animate" href="#">
                      <div class="icon-rounded bg-white opacity-7 mr-4">
                        <svg class="svg-icon text-dark w-2rem h-2rem">
                          <use xlink:href="#paper-plane-1"> </use>
                        </svg>
                      </div>
                      <div class="media-body">
                        <h5>Discover events</h5>
                        <div class="media-body">Tap to see more !</div>
                      </div></a></div>
                  <div class="col-md-4 mb-2 mb-md-0"><a class="media text-reset text-decoration-none hover-animate" href="#">
                      <div class="icon-rounded bg-white opacity-7 mr-4">
                        <svg class="svg-icon text-dark w-2rem h-2rem">
                          <use xlink:href="#schedule-window-1"> </use>
                        </svg>
                      </div>
                      <div class="media-body">
                        <h5>Create events</h5>
                        <div class="media-body">You don't have to be an expert to bring people together and share common passions ;)</div>
                      </div></a></div>
                  <div class="col-md-4 mb-2 mb-md-0"><a class="media text-reset text-decoration-none hover-animate" href="#">
                      <div class="icon-rounded bg-white opacity-7 mr-4">
                        <svg class="svg-icon text-dark w-2rem h-2rem">
                          <use xlink:href="#image-gallery-1"> </use>
                        </svg>
                      </div>
                      <div class="media-body">
                        <h5>Guide &amp; gallery</h5>
                        <p>Curious ? Click to see more </p>
                      </div></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-white"></div>
      <div class="swiper-nav d-none d-lg-block">
        <div class="swiper-button-prev" id="homePrev"></div>
        <div class="swiper-button-next" id="homeNext"></div>
      </div>
    </div>
    <section class="py-6">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 px-5">
            <p class="advantage-number">1</p>
            <div class="pl-lg-5">
              <h6 class="text-uppercase">Travel</h6>
              <p class="text-muted text-sm mb-5 mb-lg-0">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his.</p>
            </div>
          </div>
          <div class="col-lg-4 px-5">
            <p class="advantage-number">2</p>
            <div class="pl-lg-5">
              <h6 class="text-uppercase">Relax</h6>
              <p class="text-muted text-sm mb-5 mb-lg-0">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size .</p>
            </div>
          </div>
          <div class="col-lg-4 px-5">
            <p class="advantage-number">3</p>
            <div class="pl-lg-5">
              <h6 class="text-uppercase">Explore</h6>
              <p class="text-muted text-sm mb-5 mb-lg-0">His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samp.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Places-->
    <section class="bg-gray-100">
      <div class="bg-cover" style="height: 250px; background-image: url(front-office/img/photo/places-divider.jpg);"></div>
      <div class="container pb-lg-3">
        <div class="search-bar rounded p-3 p-lg-4 position-relative mt-n4 z-index-20">
          <form action="#">
            <div class="row">
              <div class="col-lg-4 d-flex align-items-center form-group">
                <input class="form-control border-0 shadow-0" type="search" name="search" placeholder="What are you searching for?">
              </div>
              <div class="col-md-6 col-lg-3 d-flex align-items-center form-group">
                <div class="input-label-absolute input-label-absolute-right w-100">
                  <label class="label-absolute" for="location"><i class="fa fa-crosshairs"></i><span class="sr-only">City</span></label>
                  <input class="form-control border-0 shadow-0" type="text" name="location" placeholder="Location" id="location">
                </div>
              </div>
              <div class="col-md-6 col-lg-3 d-flex align-items-center form-group no-divider">
                <select class="selectpicker" title="Categories" data-style="btn-form-control">
                  <option value="small">Restaurants</option>
                  <option value="medium">Hotels</option>
                  <option value="large">Cafes</option>
                  <option value="x-large">Garages</option>
                </select>
              </div>
              <div class="col-lg-2 form-group mb-0">
                <button class="btn btn-primary btn-block h-100" type="submit">Search    </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  <section class="py-6">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8">
          <p class="subtitle text-primary">Our trips</p>
          <h2>Let's discover</h2>
        </div>
        <div class="col-md-4 d-md-flex align-items-center justify-content-end"><a class="text-muted text-sm" href="list-events.html">
            See all trips<i class="fas fa-angle-double-right ml-2"></i></a></div>
      </div>

      <!-- ligne 1 events -->
      <div class="row">
        <!-- trips name & picture -->
        <div class="d-flex align-items-lg-stretch mb-4 col-lg-8">
          <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(front-office/img/photo/srilanka.jpg) no-repeat; background-size: cover; "><a class="tile-link" href="category.html"> </a>
            <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
              <h3 class="text-shadow text-uppercase mb-0">Sri Lanka</h3>
            </div>
          </div>
          <!-- event top accessories -->
          <div class="card-img-overlay-top d-flex justify-content-between align-items-center">

            <a class="text-right z-index-40"> <!-- class="card-img-overlay-bottom position-relative z-index-40" href="javascript: void();"-->

            </a>
          </div>
          <!-- event bottom accessories -->
          <div class="card-img-overlay-bottom ml-3 z-index-40 ">
            <h4 class="text-shadow text-white" >L'Inde, Sri Lanka</h4>
            <p class="mb-2 ">
              <time class="badge badge-secondary-light" datetime="2022-02-17T16:00:00Z[UTC]" title="Thu Feb 17 2022 16:00:00 GMT+0000 (Coordinated Universal Time)">
                <span> Book Now </span>
                <span>  </span>
                <span>  </span>

              </time>
            </p>
          </div>
        </div>

        <!-- event name & picture -->
        <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
          <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(front-office/img/photo/moroco.jpg) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>
            <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
              <h3 class="text-shadow text-uppercase mb-0">Morocco</h3>
            </div>
          </div>
          <!-- event top accessories -->
          <div class="card-img-overlay-top d-flex justify-content-between align-items-center">

            <a class="text-right z-index-40"> <!-- class="card-img-overlay-bottom position-relative z-index-40" href="javascript: void();"-->

            </a>
          </div>
          <!-- event bottom accessories -->
          <div class="card-img-overlay-bottom ml-3 z-index-40 ">
            <h4 class="text-shadow text-white" >Morocco</h4>
            <p class="mb-2 ">
              <time class="badge badge-secondary-light" datetime="2022-02-17T16:00:00Z[UTC]" title="Thu Feb 17 2022 16:00:00 GMT+0000 (Coordinated Universal Time)">
                <span> Book Now </span>

              </time>
            </p>
          </div>
        </div>
      </div>

      <!-- ligne 2 events -->
      <div class="row">
        <!-- event name & picture -->
        <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
          <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(front-office/img/photo/capadocia.jpg) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>
            <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
              <h3 class="text-shadow text-uppercase mb-0">Cappadocia </h3>
            </div>
            <!-- event top accessories -->
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">

              <a class="text-right z-index-40"> <!-- class="card-img-overlay-bottom position-relative z-index-40" href="javascript: void();"-->
                <div >

                </div>
              </a>
            </div>
            <!-- event bottom accessories -->
            <div class="card-img-overlay-bottom ml-3 z-index-40 ">
              <h4 class="text-shadow text-white" >Cappadocia, turkey</h4>
              <p class="mb-2 ">
                <time class="badge badge-secondary-light" datetime="2022-02-17T16:00:00Z[UTC]" title="Thu Feb 17 2022 16:00:00 GMT+0000 (Coordinated Universal Time)">
                  <span> Book Now </span>
                </time>
              </p>
            </div>
          </div>
        </div>

        <!-- event name & picture -->
        <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
          <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(front-office/img/photo/suisse.jpg) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>
            <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
              <h3 class="text-shadow text-uppercase mb-0">Zermatt</h3>
            </div>
            <!-- event top accessories -->
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">

              <a class="text-right z-index-40"> <!-- class="card-img-overlay-bottom position-relative z-index-40" href="javascript: void();"-->
                <div >

                </div>
              </a>
            </div>
            <!-- event bottom accessories -->
            <div class="card-img-overlay-bottom ml-3 z-index-40 ">
              <h4 class="text-shadow text-white" >Zermatt, Switzerland</h4>
              <p class="mb-2 ">
                <time class="badge badge-secondary-light" datetime="2022-02-17T16:00:00Z[UTC]" title="Thu Feb 17 2022 16:00:00 GMT+0000 (Coordinated Universal Time)">
                  <span> Book Now </span>

                </time>
              </p>
            </div>
          </div>
        </div>

        <!-- event name & picture -->
        <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
          <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(front-office/img/photo/spain.jpg) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>
            <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
              <h3 class="text-shadow text-uppercase mb-0">Barcelona</h3>
            </div>
            <!-- event top accessories -->
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">

              <a class="text-right z-index-40"> <!-- class="card-img-overlay-bottom position-relative z-index-40" href="javascript: void();"-->
                <div >

                </div>
              </a>
            </div>
            <!-- event bottom accessories -->
            <div class="card-img-overlay-bottom ml-3 z-index-40 ">
              <h4 class="text-shadow text-white" >Barcelona, Spain</h4>
              <p class="mb-2 ">
                <time class="badge badge-secondary-light" datetime="2022-02-17T16:00:00Z[UTC]" title="Thu Feb 17 2022 16:00:00 GMT+0000 (Coordinated Universal Time)">
                  <span> Book Now </span>

                </time>
              </p>
            </div>
          </div>
        </div>
      </div>

  </section>
    <section class="py-6">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-8">
            <p class="subtitle text-primary">The latest events</p>
            <h2>What's new on Tabaani</h2>
          </div>
          <div class="col-md-4 d-md-flex align-items-center justify-content-end"><a class="text-muted text-sm" href="list-events.html">
               See all events<i class="fas fa-angle-double-right ml-2"></i></a></div>
        </div>

        <!-- ligne 1 events -->
        <div class="row">
          <!-- event name & picture -->
          <div class="d-flex align-items-lg-stretch mb-4 col-lg-8">
            <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(front-office/img/photo/photo-1449034446853-66c86144b0ad.jpg) no-repeat; background-size: cover; "><a class="tile-link" href="category.html"> </a>
              <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
                <h3 class="text-shadow text-uppercase mb-0">Hiking Fest</h3>
              </div>
            </div>
            <!-- event top accessories -->
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
              <div class="badge badge-transparent badge-pill px-3 py-2">
                <svg class="svg-icon text-black">
                  <use xlink:href="#pin-1"> </use>
                </svg>
                Offline Event
              </div>
              <a class="text-right z-index-40"> <!-- class="card-img-overlay-bottom position-relative z-index-40" href="javascript: void();"-->
                <div >
                  <img class="avatar avatar-border-white mr-2" src="{{ asset ('front-office/img/avatar/avatar-7.jpg')}}" alt="John"/>
                </div>
              </a>
            </div>
            <!-- event bottom accessories -->
            <div class="card-img-overlay-bottom ml-3 z-index-40 ">
              <h4 class="text-shadow text-white" >Tunis, Ariana</h4>
              <p class="mb-2 ">
                <time class="badge badge-secondary-light" datetime="2022-02-17T16:00:00Z[UTC]" title="Thu Feb 17 2022 16:00:00 GMT+0000 (Coordinated Universal Time)">
                  <span> 17 févr. 2022 - </span>
                  <span> 17:00 </span>
                  <span> UTC+1 </span>
                </time>
              </p>
            </div>
          </div>

          <!-- event name & picture -->
          <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
            <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(front-office/img/photo/photo-1429554429301-1c7d5ae2d42e.jpg) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>
              <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
                <h3 class="text-shadow text-uppercase mb-0">Anime Friends</h3>
              </div>
            </div>
            <!-- event top accessories -->
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
              <div class="badge badge-transparent badge-pill px-3 py-2">
                <svg class="svg-icon text-black">
                  <use xlink:href="#support-1"> </use>
                </svg>
                Online Event
              </div>
              <a class="text-right z-index-40"> <!-- class="card-img-overlay-bottom position-relative z-index-40" href="javascript: void();"-->
                <div >
                  <img class="avatar avatar-border-white mr-2"src="{{ asset ('front-office/img/avatar/avatar-7.jpg')}}"  alt="John"/>
                </div>
              </a>
            </div>
            <!-- event bottom accessories -->
            <div class="card-img-overlay-bottom ml-3 z-index-40 ">
              <h4 class="text-shadow text-white" >Sousse</h4>
              <p class="mb-2 ">
                <time class="badge badge-secondary-light" datetime="2022-02-17T16:00:00Z[UTC]" title="Thu Feb 17 2022 16:00:00 GMT+0000 (Coordinated Universal Time)">
                  <span> 17 févr. 2022 - </span>
                  <span> 17:00 </span>
                  <span> UTC+1 </span>
                </time>
              </p>
            </div>
          </div>
        </div>

        <!-- ligne 2 events -->
        <div class="row">
          <!-- event name & picture -->
          <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
            <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(front-office/img/photo/photo-1523430410476-0185cb1f6ff9.jpg) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>
              <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
                <h3 class="text-shadow text-uppercase mb-0">Yoga of laughter</h3>
              </div>
              <!-- event top accessories -->
              <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                <div class="badge badge-transparent badge-pill px-3 py-2">
                  <svg class="svg-icon text-black">
                    <use xlink:href="#support-1"> </use>
                  </svg>
                  Online Event
                </div>
                <a class="text-right z-index-40"> <!-- class="card-img-overlay-bottom position-relative z-index-40" href="javascript: void();"-->
                  <div >
                    <img class="avatar avatar-border-white mr-2" src="{{ asset ('front-office/img/avatar/avatar-7.jpg')}}"  alt="John"/>
                  </div>
                </a>
              </div>
              <!-- event bottom accessories -->
              <div class="card-img-overlay-bottom ml-3 z-index-40 ">
                <h4 class="text-shadow text-white" >Sousse</h4>
                <p class="mb-2 ">
                  <time class="badge badge-secondary-light" datetime="2022-02-17T16:00:00Z[UTC]" title="Thu Feb 17 2022 16:00:00 GMT+0000 (Coordinated Universal Time)">
                    <span> 17 févr. 2022 - </span>
                    <span> 17:00 </span>
                    <span> UTC+1 </span>
                  </time>
                </p>
              </div>
            </div>
          </div>

          <!-- event name & picture -->
          <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
            <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(front-office/img/photo/photo-1505245208761-ba872912fac0.jpg) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>
              <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
                <h3 class="text-shadow text-uppercase mb-0">Set Free</h3>
              </div>
              <!-- event top accessories -->
              <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                <div class="badge badge-transparent badge-pill px-3 py-2">
                  <svg class="svg-icon text-black">
                    <use xlink:href="#pin-1"> </use>
                  </svg>
                  Offline Event
                </div>
                <a class="text-right z-index-40"> <!-- class="card-img-overlay-bottom position-relative z-index-40" href="javascript: void();"-->
                  <div >
                    <img class="avatar avatar-border-white mr-2" src="{{ asset ('front-office/img/avatar/avatar-7.jpg')}}"  alt="John"/>
                  </div>
                </a>
              </div>
              <!-- event bottom accessories -->
              <div class="card-img-overlay-bottom ml-3 z-index-40 ">
                <h4 class="text-shadow text-white" >Sousse</h4>
                <p class="mb-2 ">
                  <time class="badge badge-secondary-light" datetime="2022-02-17T16:00:00Z[UTC]" title="Thu Feb 17 2022 16:00:00 GMT+0000 (Coordinated Universal Time)">
                    <span> 17 févr. 2022 - </span>
                    <span> 17:00 </span>
                    <span> UTC+1 </span>
                  </time>
                </p>
              </div>
            </div>
          </div>

          <!-- event name & picture -->
          <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
            <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(front-office/img/photo/photo-1519867850-74775a87e783.jpg) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>
              <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
                <h3 class="text-shadow text-uppercase mb-0">Chess day</h3>
              </div>
              <!-- event top accessories -->
              <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                <div class="badge badge-transparent badge-pill px-3 py-2">
                  <svg class="svg-icon text-black">
                    <use xlink:href="#pin-1"> </use>
                  </svg>
                  Offline Event
                </div>
                <a class="text-right z-index-40"> <!-- class="card-img-overlay-bottom position-relative z-index-40" href="javascript: void();"-->
                  <div >
                    <img class="avatar avatar-border-white mr-2" src="{{ asset ('front-office/img/avatar/avatar-7.jpg')}}"  alt="John"/>
                  </div>
                </a>
              </div>
              <!-- event bottom accessories -->
              <div class="card-img-overlay-bottom ml-3 z-index-40 ">
                <h4 class="text-shadow text-white" >Sousse</h4>
                <p class="mb-2 ">
                  <time class="badge badge-secondary-light" datetime="2022-02-17T16:00:00Z[UTC]" title="Thu Feb 17 2022 16:00:00 GMT+0000 (Coordinated Universal Time)">
                    <span> 17 févr. 2022 - </span>
                    <span> 17:00 </span>
                    <span> UTC+1 </span>
                  </time>
                </p>
              </div>
            </div>
          </div>
        </div>

    </section>

    <section class="py-6">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-8">
            <p class="subtitle text-secondary">Here you can book your accomdation     </p>
            <h2>Accomadations</h2>
          </div>
          <div class="col-md-4 d-lg-flex align-items-center justify-content-end"><a class="text-muted text-sm" href="category.html">
               See all deals<i class="fas fa-angle-double-right ml-2"></i></a></div>
        </div>
        <!-- Slider main container-->
        <div class="swiper-container swiper-container-mx-negative swiper-init pt-3" data-swiper="{&quot;slidesPerView&quot;:4,&quot;spaceBetween&quot;:20,&quot;loop&quot;:true,&quot;roundLengths&quot;:true,&quot;breakpoints&quot;:{&quot;1200&quot;:{&quot;slidesPerView&quot;:3},&quot;991&quot;:{&quot;slidesPerView&quot;:2},&quot;565&quot;:{&quot;slidesPerView&quot;:1}},&quot;pagination&quot;:{&quot;el&quot;:&quot;.swiper-pagination&quot;,&quot;clickable&quot;:true,&quot;dynamicBullets&quot;:true}}">
          <!-- Additional required wrapper-->
          <div class="swiper-wrapper pb-5">
            <!-- Slides-->
            <div class="swiper-slide h-auto px-2">
              <!-- place item-->
              <div class="w-100 h-100 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                <div class="card h-100 border-0 shadow">
                  <div class="card-img-top overflow-hidden gradient-overlay"> <img class="img-fluid" src="{{ asset ('front-office/img/photo/accom.jpg')}}"  alt="Modern, Well-Appointed Room"/><a class="tile-link" href="detail-rooms.html"></a>
                    <div class="card-img-overlay-bottom z-index-20">

                        <div class="media-body">Pamela</div>
                      </div>
                    </div>
                    <div class="card-img-overlay-top text-right"><a class="card-fav-icon position-relative z-index-40" href="javascript: void();"> 
                        <svg class="svg-icon text-white">
                          <use xlink:href="#heart-1"> </use>
                        </svg></a></div>
                  </div>
                  <div class="card-body d-flex align-items-center">
                    <div class="w-100">
                      <h6 class="card-title"><a class="text-decoration-none text-dark" href="detail-rooms.html">Modern, Well-Appointed Room</a></h6>
                      <div class="d-flex card-subtitle mb-3">
                        <p class="flex-grow-1 mb-0 text-muted text-sm">Private room</p>
                        <p class="flex-shrink-1 mb-0 card-stars text-xs text-right"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
                        </p>
                      </div>
                      <p class="card-text text-muted"><span class="h4 text-primary">$80</span> per night</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <!-- If we need pagination-->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>



    
{% endblock %}