{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
    <h1>Events</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Event Name</th>
                <td>{{ event.eventname }}</td>
            </tr>
            <tr>
                <th>Max Participants</th>
                <td>{{ event.nbrmaxpart }}</td>
            </tr>
            <tr>
                <th>Image Event</th>
                <td>{{ event.imageevent }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Event Date</th>
                <td>{{ event.eventdate ? event.eventdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Event Address</th>
                <td>{{ event.eventaddress }}</td>
            </tr>
            <tr>
                <th>Event Theme</th>
                <td>{{ event.eventtheme }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('events_index') }}">back to list</a>

    <a href="{{ path('events_edit', {'id': event.id}) }}">edit</a>

    {{ include('events/_delete_form.html.twig') }}
{% endblock %}
