{% extends 'Back_Office/AdminMain.html.twig' %}

{% block title %}
Dashboard
{% endblock %}
{% block Entry %}

<div class="container">
									<h1>Hello {{ app.user.FirstName }} {{ app.user.LastName }}</h1>
										{% for type, messages in app.session.flashBag.all %}
											{% for message in messages %}
												<div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
													{{ message }}
													<button type="button" class="close" data-dismiss="alert" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
											{% endfor %}
										{% endfor %}
										<div class="my-1">
											{% if is_granted('ROLE_ADMIN') %}
												<a href= "{{ path('admins_index') }}" class="btn btn-dark">
													Manage Users
												</a>
											{% endif %}
										</div>
										
										<div class="my-1">
											<a href= "{{ path('users_edit', {'id': app.user.id}) }}" class="btn btn-primary">
												Edit My profile
											</a>
										</div>

									
									</div>

                                    {% endblock %}